<div class="bill-to">
  <label style="color:#7a9a8a;font-weight:700;font-size:15px;">Bill To</label><br>
  <div class="customer-name">Customer Name</div>
  <div class="customer-address">
    1234 Customer St,<br>
    Customer Town, ST 12345
  </div>
</div>