<div class="quote-info">
  <table class="quote-info-table">
    <tr>
      <td>Quote #</td>
      <td>{{quote.number}}</td>
    </tr>
    <tr>
      <td>Quote date</td>
      <td>{{quote.date}}</td>
    </tr>
    <tr>
      <td>Due date</td>
      <td>{{quote.dueDate}}</td>
    </tr>
  </table>
</div>