<div class="bill-to">
  <label>Bill To</label><br>
  <div class="customer-name">{{customer.name}}</div>
  <div class="customer-address">
    {{customer.address}}<br>
    {{customer.cityStateZip}}
  </div>
</div>